.vs/DoomClone.slnx/FileContentIndex/006fe1f4-6378-40b3-8f86-3dd4f165bd05.vsidx
.vs/DoomClone.slnx/FileContentIndex/eeb76aec-5be1-4319-a0bb-ef60977c2214.vsidx
.vs/DoomClone.slnx/v18/.suo
.vs/DoomClone.slnx/v18/DocumentLayout.backup.json
.vs/DoomClone.slnx/v18/DocumentLayout.json
.vs/DoomClone.slnx/v18/Insiders/Browse.VC.db
.vs/DoomClone.slnx/v18/Insiders/Browse.VC.db-shm
.vs/DoomClone.slnx/v18/Insiders/Browse.VC.db-wal
.vs/DoomClone.slnx/v18/Insiders/Browse.VC.opendb
.vs/DoomClone.slnx/v18/Insiders/ipch/AutoPCH/58c02fec79aade7/DOOMTEST.ipch
.vs/DoomClone/CopilotIndices/18.0.912.14514/CodeChunks.db
.vs/DoomClone/CopilotIndices/18.0.912.14514/CodeChunks.db-shm
.vs/DoomClone/CopilotIndices/18.0.912.14514/CodeChunks.db-wal
.vs/DoomClone/CopilotIndices/18.0.912.14514/SemanticSymbols.db
.vs/DoomClone/CopilotIndices/18.0.912.14514/SemanticSymbols.db-shm
.vs/DoomClone/CopilotIndices/18.0.912.14514/SemanticSymbols.db-wal
DoomClone.slnx
DoomClone.vcxproj
DoomClone.vcxproj.filters
DoomClone.vcxproj.user
DoomClone/x64/Debug/DoomClone.exe.recipe
DoomClone/x64/Debug/DoomClone.ilk
DoomClone/x64/Debug/DoomClone.log
DoomClone/x64/Debug/DoomClone.tlog/CL.command.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/Cl.items.tlog
DoomClone/x64/Debug/DoomClone.tlog/CL.read.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/CL.write.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/DoomClone.lastbuildstate
DoomClone/x64/Debug/DoomClone.tlog/link.command.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/link.read.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/link.secondary.1.tlog
DoomClone/x64/Debug/DoomClone.tlog/link.write.1.tlog
DoomClone/x64/Debug/DoomTest.obj
DoomClone/x64/Debug/vc145.idb
DoomClone/x64/Debug/vc145.pdb
.gitattributes
